<div class="col">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%= simple_description product.description %></p>
      <p class="card-text"><%= date_format product.created_at %></p>
      <%= link_to 'Conoce mas', product, class:"btn btn-primary" %>
    </div>
  </div>
</div>